<nav>
    <div class="">
        <h1> Mongodb </h1>
        <p> This site is based on the database handling crud operations</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/user/create">Add-User</a></li>
    </ul>
</nav>