<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="">OOPS, page not found. Please search valid pages</div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
